<html>
    <head>
        <title>
        HANDLE BARS
        </title>
    </head>
    <body>
        <div>

        {{>navbar }}
        </div>
        <div>
            <h1>
                INDEX
            </h1>
        </div>
    </body>
</html>