
<h1>
    LOGIN
</h1>
<form method="post" action="/login">
    <label>EMAIL*</label>
    <input type="email" name="email" placeholder="Enter Email">
<br><br>
    <label>Password*</label>
    <input type="password" name="password" placeholder="Enter password">
<br><br>
    <button type="submit">
        SUBMIT
    </button>
</form>