<h1>
    REGISTER
</h1>
<form method="post" action="/register">
    <label>Name*</label>
    <input type="text" name="name" placeholder="Enter name">

    <label>Class*</label>
    <input type="number" name="class" placeholder="Enter Class">

    <label>Roll NUMBER*</label>
    <input type="number" name="rollNo" placeholder="Enter Roll">

    <label>EMAIL*</label>
    <input type="email" name="email" placeholder="Enter Email">

    <label>Mobile NUMBER*</label>
    <input type="number" name="mobile" placeholder="Enter Mobile Number">

    <label>Address*</label>
    <input type="text" name="address" placeholder="Enter address">

    <label>Password*</label>
    <input type="password" name="passowrd" placeholder="Enter password">

    <label>Confirm Password*</label>
    <input type="password" name="confirmPassowrd" placeholder="Confirm password">

    <button type="submit">
        SUBMIT
    </button>
</form>