<h1>
    REGISTER
</h1>
<form method="post" action="/register">
    <br>
    <label>Name*</label>
    <input type="text" name="name" placeholder="Enter name">
<br>
    <label>Class*</label>
    <input type="number" name="class" placeholder="Enter Class">
<br>
    <label>Roll NUMBER*</label>
    <input type="number" name="rollNo" placeholder="Enter Roll">
<br>
    <label>EMAIL*</label>
    <input type="email" name="email" placeholder="Enter Email">
<br>
    <label>Mobile NUMBER*</label>
    <input type="number" name="mobile" placeholder="Enter Mobile Number">
<br>
    <label>Address*</label>
    <input type="text" name="address" placeholder="Enter address">
<br>
    <label>Password*</label>
    <input type="password" name="passowrd" placeholder="Enter password">
<br>
    <label>Confirm Password*</label>
    <input type="password" name="confirmPassowrd" placeholder="Confirm password">
<br>
    <button type="submit">
        SUBMIT
    </button>
</form>