<div>
    Navbar
</div>
<div style="display:flex">
    
    <a href="/register" style="width:20%">
        REGISTER
    </a>
    <a href="/login" style="width:20%">
        LOGIN
    </a>
    <a href="/home" style="width:20%">
        HOME
    </a>
</div>